@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?orkqwr');
  src: url('../fonts/icomoon.eot?orkqwr#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?orkqwr') format('truetype'),
    url('../fonts/icomoon.woff?orkqwr') format('woff'),
    url('../fonts/icomoon.svg?orkqwr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




.icon-text:before {
  content: "\e900";
}

.icon-twitter:before {
  content: "\e901";
}

.icon-left-chevron:before {
  content: "\e902";
}

.icon-search-interface-symbol:before {
  content: "\e903";
}

.icon-arrow:before {
  content: "\e904";
}

.icon-facebook-app-symbol:before {
  content: "\e905";
}

.icon-call:before {
  content: "\e906";
}

.icon-check:before {
  content: "\e907";
}

.icon-marketing-online:before {
  content: "\e908";
}

.icon-envelope:before {
  content: "\e909";
}

.icon-instagram:before {
  content: "\e90a";
}

.icon-pinterest:before {
  content: "\e90b";
}

.icon-user:before {
  content: "\e90c";
}

.icon-linkedin:before {
  content: "\e90d";
}

.icon-right-up:before {
  content: "\e90e";
}

.icon-user-experience:before {
  content: "\e90f";
}

.icon-location:before {
  content: "\e910";
}

.icon-content:before {
  content: "\e911";
}

.icon-front-end-programming:before {
  content: "\e912";
}

.icon-branding:before {
  content: "\e913";
}

.icon-chat:before {
  content: "\e914";
}

.icon-briefcase:before {
  content: "\e915";
}

.icon-web-design:before {
  content: "\e916";
}

.icon-chevron:before {
  content: "\e917";
}

.icon-right-arrow:before {
  content: "\e918";
}